<article class="project-column shadow">

    {{/*  {{ with .Resources.GetMatch "*.png" }}
    <img class="project-image" src="{{ .RelPermalink }}" width="200" height="200" alt="">
    {{ end }}  */}}

    <div class="project-bio">
        <div class="project-title">
            <h2>{{ .Title }}</h2>
            <p>
                {{ with .Params.Tags}}
                    {{ delimit . ", " | replaceRE "-Sharp" "#" }}
                {{ end }}
            </p>
        </div>

        <div class="project-technologies">
        </div>

        <div class="project-description">
            <p>{{ .Content | safeHTML | truncate .Site.Params.summaryLength}}</p>
        </div>
    </div>

    <ul class="external-links">
        {{with .Params.github}}
            <li><a href="{{ . }}" target="_blank"><i class="fab fa-github-square fa-lg"></i></a></li>
        {{end}}
        {{with .Params.link}}
        <!-- TODO: Consider adding this back in within a future iteration -->
            <!-- <li><a href="{{ . }}" target="_blank"><i class="fas fa-external-link-alt"></i></a></li> -->
        {{end}}
    </ul>

</article>