<article class="project-container">
    
    {{ with .Resources.GetMatch "*.jpg" }}
        {{ with .Resize "300x webp"}}
            <img class="project-image" src="{{ .RelPermalink }}" width="{{ .Width}}" height="{{ .Height }}" alt="">
        {{ end }}
    {{ end }}

    <div class="project-title">
        <p>{{ .Title }}</p>
    </div>

    <div class="project-technologies">
        <p>{{ delimit .Params.tags ", " }}</p>
    </div>

    <div class="project-description">
        <p>{{ .Content }}</p>
    </div>

    <ul class="external-links">
        {{with .Params.link}}
            <li><a href="{{ . }}" target="_blank"><i class="fas fa-external-link-alt"></i></a></li>
        {{end}}
        <li><a href="https://github.com/kp4ws" target="_blank"><i class="fab fa-github-square fa-lg"></i></a></li>
    </ul>

</article>