/**********
VARIABLES
***********/

:root {
  --primary-color: #0d0d0d;
  --secondary-color: #f2f2f2;
  --fill-color: #c0c0c0;
  --foreground-color: #fff;
  --highlight-color: #ffaf7a;
}

/******
RESETS
*******/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 55%;
  scroll-behavior: smooth;
}

/******************
GLOBAL STYLES
*******************/

body {
  background-color: #0d0d0d;
  color: #0d0d0d;
  font-family: "Montserrat", monospace;
  font-size: 1.8rem;
  min-width: 190px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
}

section h3 {
  text-align: center;
  font-size: 4rem;
}

section {
  margin-top: 10rem;
}

.section-heading {
  padding-bottom: 3rem;
}

.main-container {
  width: 85%;
  max-width: 120rem;
  margin: 0 auto;
}

/******************
FONT
*******************/

.header-font {
  font-size: 2rem;
  /*20px*/
}

.default-font {
  font-size: 1.8rem;
  /*18px*/
}

.secondary-font {
  font-size: 1.4rem;
  /*14px*/
}

.icon-font {
  font-size: 2.5rem;
  /*20px TODO: change this appropriately*/
}

/****************** 
LINK STYLES
*******************/

.external-links,
.about-links {
  list-style: none;
  font-size: 3rem;
}

.external-links {
  padding-top: 2.5rem;
}

.about-links {
  margin: 0.5rem auto;
  padding: 0 25px 0 25px;
}

.external-links li,
.about-links li {
  display: inline-block;
  position: relative;
}

.external-links a {
  color: #0d0d0d;
}

.about-links a {
  color: #f2f2f2;
}

.external-links a,
.about-links a {
  transition: all 0.1s linear;
}

.external-links a:hover {
  color: #f19469;
}

.section-link {
  position: relative;
  top: -130px;
  display: block;
  visibility: hidden;
}

/******************
CANVAS and BODY STYLES
*******************/

#bg-canvas {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0d0d0d;
  z-index: -1;
}

#main-section {
  background-color: #f2f2f2;
  padding: 5rem 0 15rem 0;
  z-index: 1;
}

/******************
NAV BAR STYLES
*******************/

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 30px;
  background-color: #0d0d0d;
  z-index: 999;
}

.nav-links {
  list-style: none;
  display: none;
  flex-direction: column;
  width: 100%;
}

.nav-links li {
  padding-top: 20px;
  font-weight: bold;
}

.nav-links.active {
  display: flex;
}

.hamburger {
  background-color: transparent;
  color: #f2f2f2;
  border: 0;
  display: block;
  cursor: pointer;
}

.nav a {
  text-decoration: none;
  color: #f2f2f2;
  transition: all 0.1s linear;
}

.nav a:hover,
.about-links a:hover,
.hamburger:hover {
  color: #ffaf7a;
}

/******************
ABOUT STYLES
*******************/

.about-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  color: #f2f2f2;
  background-color: rgba(13, 13, 13, 0.3);
  padding: 3rem 0 10rem 0;
  text-align: center;
}

.bio {
  max-width: 65rem;
}

.bio p {
  padding-bottom: 2rem;
  font-weight: bold;
}

.bio-header h1 {
  font-size: 2.5em;
}

.bio-header p {
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 2rem;
}

.bio-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}

.profile-image {
  width: 100%;
  height: auto;
  max-width: 18rem;
  object-fit: cover;
  border-radius: 1rem;
}

/******************
SKILLS STYLES
*******************/

.skill-container {
  display: grid;
  grid-template-columns: 1fr;
}

.skill-column {
  padding: 3rem;
}

.skill-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skill-bg {
  background-color: #c0c0c0;
  border-radius: 0.5rem;
}

.skill-fg {
  background-color: #0d0d0d;
  padding: 1rem;
  border-radius: 0.5rem;
}

/******************
PROJECT STYLES
*******************/

.project-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4rem;
}

.project-column {
  background-color: #fff;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5rem 2.5rem;
}

.project-image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.project-title {
  margin-bottom: 1rem;
}

.project-title h2 {
  font-weight: bold;
  font-size: 2.4rem;
}

.project-title p {
  font-size: 1.6rem;
  font-style: italic;
  color: #555;
}

.project-description {
}

/******************
BLOG STYLES
*******************/

.blog-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4rem;
  max-width: 90rem;
}

.blog-column {
  background-color: #fff;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5rem 2.5rem;
}

.blog-image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.blog-title {
  margin-bottom: 1rem;
}

.blog-title h2 {
  font-weight: bold;
}

.blog-title p {
  font-size: 1.6rem;
  font-style: italic;
  color: #555;
}

.blog-description {
}

/******************
CONTACT STYLES
*******************/

.contact-container {
}

.contact-form {
  border-radius: 0.5rem;
  background-color: #f2f2f2;
  margin: 0 auto;
}

.form-field {
  width: 100%;
  padding: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  box-sizing: border-box;
  margin-bottom: 1.6rem;
  resize: vertical;
}

.form-label {
  line-height: 1;
}

.form-input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
}

.submit-button {
  background-color: rgb(41, 41, 41);
  color: #f2f2f2;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  transition: all 0.1s linear;
}

.submit-button:hover {
  background-color: #0d0d0d;
  color: #f2f2f2;
}

.submit-button:active {
  border: 1px solid rgb(61, 61, 61);
}

/******************
FOOTER STYLES
*******************/

.footer-container {
  padding: 10rem 0 10rem 0;
  color: #f2f2f2;
  background-color: rgba(13, 13, 13, 0.1);
  text-align: center;
}

/******************
MEDIA QUERIES
*******************/

/* Portrait phones */

@media (min-width: 576px) {
}

/* Tablets */

@media (min-width: 768px) {
  .nav-links {
    display: block;
    flex-direction: row;
    width: auto;
  }
  .nav-links li {
    display: inline-block;
    padding: 0px 15px;
  }
  .nav-links li:first-child {
    padding-top: 0px;
  }
  .hamburger {
    display: none;
  }
  .section-link {
    top: -160px;
  }
  .skill-title {
    flex-direction: row;
  }
  .skill-container {
    grid-template-columns: 1fr 1fr;
  }
  .project-container {
    grid-template-columns: 1fr 1fr;
  }
  .blog-container {
    grid-template-columns: 1fr 1fr;
  }
}

/* Laptops */

@media (min-width: 992px) {
  .about-container {
    flex-direction: row;
  }
  .project-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .section-link {
    top: -180px;
  }
  html {
    font-size: 60%;
  }
}

/* Large devices */

@media (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}
