/**********
VARIABLES
***********/
:root{

    --primary-color: #0D0D0D;
    --secondary-color: #F2F2F2;
   
    --foreground-color: #FFF;
    --highlight-color: #FFAF7A;
   
    --header-size: 45px;
    --subheader-size: 25px;
   
   }

/******
RESETS
*******/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*::before
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    background-color: var(--secondary-color);
    font-family: 'Montserrat', monospace;
    font-size: 1.8rem;
    color: var(--secondary-color);
}

/******************
ELEMENT SELECTORS
*******************/
ul{
    list-style: none;
    padding-left: 0;
}

/***************
ID SELECTORS
****************/
#bg-canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0D0D0D;
    z-index: -9999;
    margin-bottom: 250px; /*TODO*/
}

/******************
CLASS SELECTORS
*******************/
.nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 30px;
    background-color: var(--primary-color);
    z-index: 9999;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    font-weight: bold;
    padding: 0px 15px;
}

.nav a{
    text-decoration: none;
    color: var(--secondary-color);
    transition: all 0.2s ease 0s; /*TODO*/
}

.nav a:hover{
    color: var(--highlight-color);
}

.logo{
    font-size: 2rem; /*TODO*/
}

.hamburger{
    background-color: transparent;
    border: 0;
    display: none;
    color: var(--secondary-color);
    cursor: pointer;
    font-size: 20px;
}

.hamburger:hover{
    color: var(--highlight-color);
}

.about-section{
    background: rgba(0,0,0, 0.1);
    margin: 0 auto;
    width: 50%;
    margin-top: 100px;
    margin-bottom: 100px;
    display: grid;
    grid-template-areas: 
        "welcome image"
        "bio social";
    justify-items: end; /*TODO*/
    border: 1px solid green;
}
.welcome-message{
    grid-area: welcome;
    font-size: 50px;
}

.profile-image{
    grid-area: image;
    display: inline-block;
    width: 40%;
    height: auto;
    border-radius: 15%;
}

.bio{
    grid-area: bio;
}

.social-media{
    grid-area: social;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
}

/******************
MEDIA QUERIES
*******************/
@media (max-width: 700px){
    .nav-links{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    .nav-links li{
        padding: 0px;
    }

    .nav-links.active{
        display: flex;
    }

    .hamburger{
        display: block;
    }

    .about-section{
        grid-template-areas: 
            "image"
            "social"
            "welcome" 
            "bio";
    }
}






.skill-container {
    width: 25%;
    display: grid;
}

.skill-bg {
    background-color: red;
    border-radius: 10px;
}
	
.skill-fg {
    background-color: rgb(116, 194, 92);
	color: white;
	padding: 1%;
	text-align: right;
	font-size: 20px;
    /*TODO add dynamic styling to height*/height: 20px;
    border-radius: 10px;
}

 .skill-title {
     display: flex !important;
     justify-content: space-between;
}


.html {width: 10%;}
.css {width: 80%;}
.js {width: 65%;}
