<article class="main-container about-container">
    <div>
        <div class="bio">
            <h1>Hello there! I'm Kent</h1>
            <p>I love to learn new things and my creative mind greatly aids in my problem
                solving skills.</p>
            <p>As a hobby, I create games and enjoy playing guitar in my free time.</p>
        </div>

        <!--Profile Image-->
        <div class="profile">
            <img src="/images/profile-image.jpg" class="profile-image" width="400" height="400" alt="" />

            <!--Social Media links-->
            <ul class="about-links">
                <li><a href="https://github.com/kp4ws" target="_blank"><i class="fab fa-github-square fa-lg"></i></a>
                </li>
                <li><a href="https://www.linkedin.com/in/kentpawson/" target="_blank"><i
                            class="fab fa-linkedin fa-lg"></i></a>
                </li>
                <li><a href="https://kpaws-games.itch.io/" target="_blank"><i class="fab fa-itch-io fa-lg"></i></a>
                </li>
            </ul>
        </div>
    </div>

</article>