<!--TODO: Add custom thank you page-->
<div class="contact-container">
    <form name="contact" class="contact-form" method="POST" data-netlify="true" netlify-honeypot="bot-field" netlify>

        <p style="visibility: hidden;">
            <label>Don’t fill this out if you’re human: <input name="bot-field" /></label>
        </p>

        <label class="form-label" for="name">Name</label>
        <input class="form-field" type="text" id="name" name="name" placeholder="Your name.." required/>

        <label class="form-label" for="email">Email</label>
        <input class="form-field" type="email" id="email" name="email" placeholder="Your email.." required/>

        <label class="form-label" for="message">Message</label> <!--TODO message field goes out of view when typing-->
        <textarea class="form-field" id="message" name="message" placeholder="Write something.." rows="5" cols="24" required></textarea>

        <!-- <div data-netlify-recaptcha></div> -->
        <button class="submit-button" type="submit">Send</button>
    </form>
</div>