<header id="header">
    <!--Nav bar-->
    <nav class="nav" id="navbar">

        <div class="logo header-font">
            <a href="{{ .Site.BaseURL | absURL }}">
                <h2>{{ .Title }}</h2>
            </a>
        </div>

        <button class="hamburger icon-font" id="hamburger" onclick="toggleMenu();">
            <i class="fas fa-bars icon-font"></i>
        </button>

        <ul class="nav-links" id="nav-links">
            {{range .Site.Menus.nav }}
                <li><a href="{{ .URL | relURL }}" onclick="toggleNav();">{{ .Name }}</a></li>
            {{ end }}
        </ul>
    </nav>

</header>