<header id="header">
    <canvas id="bg-canvas"></canvas>

    <!--Nav bar-->
    <nav id="navbar" class="nav">

        <div class="logo">
            <a href="#top">
                <h2>{{ .Title }}</h2>
            </a>
        </div>

        <button class="hamburger" id="hamburger">
            <i class="fas fa-bars"></i>
        </button>

        <ul id="nav-links" class="nav-links">
            <li><a href="#about">About</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#blog">Blog</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>

    <!--About section-->
    <section class="about-section" id="about">
    
        <div class="bio">
            <h1 class="bio-header">Hello there! I'm Kent</h1>
            <p class="bio-subheader">I love to learn new things and my creative
                mind greatly aids in my problem solving
                skills.<br/><br/>As a hobby, I create games and enjoy playing guitar in my free time.</p>
        </div>
    
        <!--Profile Image-->
        <div class="profile">
    
            <div class="profile-image">
                <img src="/images/profile-image.jpg" alt="" />
            </div>
    
            <!--Social Media links-->
            <ul class="external-links">
                <li><a href="https://github.com/kp4ws" target="_blank"><i class="fab fa-github-square fa-lg"></i></a> </li>
                <li><a href="https://www.linkedin.com/in/kentpawson/" target="_blank"><i
                            class="fab fa-linkedin fa-lg"></i></a></li>
                <li><a href="https://kpaws-games.itch.io/" target="_blank"><i class="fab fa-itch-io fa-lg"></i></a></li>
            </ul>
        </div>
    
    </section>

</header>