<header id="header">
    <!--Nav bar-->
    <nav class="nav" id="navbar">

        <div class="logo header-font">
            <a href="#top">
                <h2>{{ .Title }}</h2>
            </a>
        </div>

        <button class="hamburger" id="hamburger">
            <i class="fas fa-bars icon-font"></i>
        </button>

    {{/*  TODO: Use JavaScript to close navbar when a section is selected  */}}
        <ul class="nav-links" id="nav-links">
            <li><a href="#top">About</a></li>
            <li><a href="#skill-link">Skills</a></li>
            <li><a href="#project-link">Projects</a></li>
            <li><a href="#blog-link">Blogs</a></li>
            <li><a href="#contact-link">Contact</a></li>
        </ul>
    </nav>

</header>