<article class="project-container">
    <div class="project-column">
        {{ with .Resources.GetMatch "*.jpg" }}
            <!-- {{ with .Resize "300x webp"}} -->
            <img class="project-image" src="{{ .RelPermalink }}" width="{{ .Width}}" height="{{ .Height }}" alt="">
            <!-- {{ end }} -->
        {{ end }}

        <div class="proj-bio">

            <div class="project-title">
                <p>{{ .Title }}</p>
            </div>

            <div class="project-technologies">
                <p>C#, Unity {{ .Params.technologies }}</p> <!--TODO: Figure out how to loop through array?-->
            </div>

            <div class="project-description">
                <p>{{ .Content }}</p>
            </div>

            <div class="external-icons">
                <a href="{{ .Params.link }}"><i class="fas fa-external-link-alt"></i></a>
                <a href="{{ .Params.github }}"><i class="fab fa-github-square fa-lg"></i></a>
            </div>

        </div>
    </div>

</article>