<article class="blog-column shadow">

    {{/* {{ with .Resources.GetMatch "*.png" }}
    <img class="blog-image" src="{{ .RelPermalink }}" width="200" height="200" alt="">
    {{ end }} */}}

    <div class="project-bio">
        <div class="blog-title">
            <h2>{{ .Title }}</h2>
            <p>{{ .Date.Format "January 2006" }} - {{ .Params.time }} min read</p>
        </div>

        <div class="blog-description">
            <p>{{ .Content }}</p>
        </div>

    </div>

    <ul class="external-links">
        {{with .Params.github}}
        <li><a href="{{ . }}" target="_blank" aria-label="See GitHub repo of project"><i class="fab fa-github-square fa-lg"></i></a></li>
        {{end}}
        {{with .Params.link}}
        <li><a href="{{ . }}" target="_blank" aria-label="Read more about blog"><i class="fas fa-external-link-alt"></i></a></li>
        {{end}}
    </ul>

</article>