<article class="project-card shadow">
    <div class="project-content">
        <header class="project-header">
            <h3 class="project-title">{{ .Title }}</h3>
            <p class="project-subtitle">{{ .Date.Format "January 2006" }} - {{ .Params.time }} min read</p>
        </header>

        <div class="project-description">
            <p>{{ .Content | safeHTML }}</p>
        </div>

        <div class="project-footer">
            <ul class="project-links">
                {{with .Params.github}}
                <li><a href="{{ . }}" target="_blank" aria-label="GitHub Repo"><i class="fab fa-github fa-lg"></i>
                        Code</a></li>
                {{end}}
                {{with .Params.link}}
                <li><a href="{{ . }}" target="_blank" aria-label="Read more"><i class="fas fa-external-link-alt"></i>
                        Read</a></li>
                {{end}}
            </ul>
        </div>
    </div>
</article>