<article class="blog-container">

    <div class="blog-column" style="text-align: center;">

        {{ with .Resources.GetMatch "*.jpg" }}
            {{ with .Resize "300x webp"}}
                <img class="blog-image" src="{{ .RelPermalink }}" width="{{ .Width}}" height="{{ .Height }}" alt="">
            {{ end }}
        {{ end }}

        <div class="blog-title">
            <p>{{ .Title }}</p>
        </div>

        <div class="blog-stats">
            <p>{{ .Date }} - {{ .Params.time }} min read</p>
        </div>

        <div class="project-description">
            <p>{{ .Content }}</p>
        </div>

        <ul class="external-links">
            <li><a href="{{ .Params.link }}"><i class="fas fa-external-link-alt"></i></a></li>
        </ul>

    </div>
</article>