<!--Blog section-->
<section class="blog-section">
    <h3 class="section-heading">Blog</h3>

    <div class="blog-container">

        <div class="blog-column" style="text-align: center;">

            <img src="/images/blog2_temp.png" alt="" width="100%" />

            <div class="blog-bio" style="margin: 0 auto; width: 80%;">

                <div class="blog-title" style="font-weight: bold;">
                    <p>Procedural Terrain</p>
                </div>

                <div class="blog-technologies" style="margin-bottom: 20px;">
                    <p>April 2021 - 9 min read</p>
                </div>

                <div class="project-description" style="text-align: left; margin-bottom: 20px;">
                    <p>Procedurally generated terrain system I built in Unity for my Emerging Trends.</p>
                </div>

                <div class="external-icons">
                    <a><i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
        </div>

        <div class="blog-column" style="text-align: center;">

            <img src="/images/blog_temp.png" alt="" width="100%" />

            <div class="blog-bio" style="margin: 0 auto; width: 80%;">

                <div class="blog-title" style="font-weight: bold;">
                    <p>Procedural Terrain</p>
                </div>

                <div class="blog-technologies" style="margin-bottom: 20px;">
                    <p>April 2021 - 9 min read</p>
                </div>

                <div class="project-description" style="text-align: left; margin-bottom: 20px;">
                    <p>Procedurally generated terrain system I built in Unity for my Emerging Trends.</p>
                </div>

                <div class="external-icons">
                    <a><i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- <section class="experience-section">
            <h3>Experience</h3>
        </section> -->

<!--Contact section-->
<section class="contact-section">
    <h3 class="section-heading">Contact</h3>

    <div class="contact-container">
        <!--TODO: Add custom thank you page-->
        <form name="contact" class="contact-form" method="POST" data-netlify="true" netlify-honeypot="bot-field"
            netlify>

            <p style="visibility: hidden;">
                <label>Don’t fill this out if you’re human: <input name="bot-field" /></label>
            </p>

            <label class="form-label" for="name">Name</label>
            <input class="form-field" type="text" id="name" name="name" placeholder="Your name.." />

            <label class="form-label" for="email">Email</label>
            <input class="form-field" type="email" id="email" name="email" placeholder="Your email.." />

            <label class="form-label" for="message">Message</label>
            <textarea class="form-field" id="message" name="message" placeholder="Write something.."
                style="height:200px; max-height: ;"></textarea>

            <div data-netlify-recaptcha></div>
            <button class="submit-button" type="submit">Send</button>

            <!-- <div class="form-field">
                    <label for="name" class="form-label">Message</label>
                    <textarea class="form-input" rows="3" cols="24" placeholder="Message" id="message"></textarea>
                </div> -->

        </form>
    </div>


</section>