<!--Projects section-->

TODO*****
Portfolio Website
Level Ground Recruitment
Portal Escape
Block Destroyer
Excel Export
Encrypted Editor


<br />
<br />
<br />
<br /><br />
<strong>ADD lighter shadows to projects and blog containers</strong>
<section class="project-section">

    <div class="main-container">
        <h2 class="section-heading">Projects</h2><br />

        <div class="project-container">

            <!--First column (UPDATED)-->
            <div class="project-column">

                <img src="/images/project_temp.png" alt="" />

                <div class="proj-bio">

                    <div class="project-title">
                        <p>Portal Escape</p>
                    </div>

                    <div class="project-technologies">
                        <p>C#, Unity</p>
                    </div>

                    <div class="project-description">
                        <p>Platformer game where you have to escape the maze.</p>
                    </div>

                    <div class="external-icons">
                        <a><i class="fas fa-external-link-alt"></i></a>
                        <a><i class="fab fa-github-square fa-lg"></i></a>
                    </div>

                </div>
            </div>

            <div class="project-column" style="text-align: center;">

                <img src="/images/project_temp.png" alt="" />

                <div class="proj-bio" style="margin: 0 auto; width: 80%;">

                    <div class="project-title" style="font-weight: bold;">
                        <p>Portal Escape</p>
                    </div>

                    <div class="project-technologies" style="margin-bottom: 20px;">
                        <p>C#, Unity</p>
                    </div>

                    <div class="project-description" style="text-align: left; margin-bottom: 20px;">
                        <p>Platformer game where you have to escape the maze.</p>
                    </div>

                    <div class="external-icons">
                        <a><i class="fas fa-external-link-alt"></i></a>
                        <a><i class="fab fa-github-square fa-lg"></i></a>
                    </div>

                </div>
            </div>

            <div class="project-column" style="text-align: center;">

                <img src="/images/project_temp.png" alt="" />

                <div class="proj-bio" style="margin: 0 auto; width: 80%;">

                    <div class="project-title" style="font-weight: bold;">
                        <p>Portal Escape</p>
                    </div>

                    <div class="project-technologies" style="margin-bottom: 20px;">
                        <p>C#, Unity</p>
                    </div>

                    <div class="project-description" style="text-align: left; margin-bottom: 20px;">
                        <p>Platformer game where you have to escape the maze.</p>
                    </div>

                    <div class="external-icons">
                        <a><i class="fas fa-external-link-alt"></i></a>
                        <a><i class="fab fa-github-square fa-lg"></i></a>
                    </div>

                </div>
            </div>

            <div class="project-column" style="text-align: center;">

                <img src="/images/project_temp.png" alt="" />

                <div class="proj-bio" style="margin: 0 auto; width: 80%;">

                    <div class="project-title" style="font-weight: bold;">
                        <p>Portal Escape</p>
                    </div>

                    <div class="project-technologies" style="margin-bottom: 20px;">
                        <p>C#, Unity</p>
                    </div>

                    <div class="project-description" style="text-align: left; margin-bottom: 20px;">
                        <p>Platformer game where you have to escape the maze.</p>
                    </div>

                    <div class="external-icons">
                        <a><i class="fas fa-external-link-alt"></i></a>
                        <a><i class="fab fa-github-square fa-lg"></i></a>
                    </div>

                </div>
            </div>

            <div class="project-column" style="text-align: center;">

                <img src="/images/project_temp.png" alt="" />

                <div class="proj-bio" style="margin: 0 auto; width: 80%;">

                    <div class="project-title" style="font-weight: bold;">
                        <p>Portal Escape</p>
                    </div>

                    <div class="project-technologies" style="margin-bottom: 20px;">
                        <p>C#, Unity</p>
                    </div>

                    <div class="project-description" style="text-align: left; margin-bottom: 20px;">
                        <p>Platformer game where you have to escape the maze.</p>
                    </div>

                    <div class="external-icons">
                        <a><i class="fas fa-external-link-alt"></i></a>
                        <a><i class="fab fa-github-square fa-lg"></i></a>
                    </div>

                </div>
            </div>

            <div class="project-column" style="text-align: center;">

                <img src="" alt="" />

                <div class="proj-bio" style="margin: 0 auto; width: 80%;">

                    <div class="project-title" style="font-weight: bold;">
                        <p>Portal Escape</p>
                    </div>

                    <div class="project-technologies" style="margin-bottom: 20px;">
                        <p>C#, Unity</p>
                    </div>

                    <div class="project-description" style="text-align: left; margin-bottom: 20px;">
                        <p>Platformer game where you have to escape the maze.</p>
                    </div>

                    <div class="external-icons">
                        <a><i class="fas fa-external-link-alt"></i></a>
                        <a><i class="fab fa-github-square fa"></i></a>
                    </div>

                </div>
            </div>
        </div>

    </div>

</section>

<!--Blog section-->
<section class="blog-section">
    <div class="main-container">
        <h2 class="section-heading">Blog</h2>

        <div class="blog-container">

            <div class="blog-column" style="text-align: center;">

                <img src="/images/blog2_temp.png" alt="" width="100%" />

                <div class="blog-bio" style="margin: 0 auto; width: 80%;">

                    <div class="blog-title" style="font-weight: bold;">
                        <p>Procedural Terrain</p>
                    </div>

                    <div class="blog-technologies" style="margin-bottom: 20px;">
                        <p>April 2021 - 9 min read</p>
                    </div>

                    <div class="project-description" style="text-align: left; margin-bottom: 20px;">
                        <p>Procedurally generated terrain system I built in Unity for my Emerging Trends.</p>
                    </div>

                    <div class="external-icons">
                        <a><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>

            <div class="blog-column" style="text-align: center;">

                <img src="/images/blog_temp.png" alt="" width="100%" />

                <div class="blog-bio" style="margin: 0 auto; width: 80%;">

                    <div class="blog-title" style="font-weight: bold;">
                        <p>Procedural Terrain</p>
                    </div>

                    <div class="blog-technologies" style="margin-bottom: 20px;">
                        <p>April 2021 - 9 min read</p>
                    </div>

                    <div class="project-description" style="text-align: left; margin-bottom: 20px;">
                        <p>Procedurally generated terrain system I built in Unity for my Emerging Trends.</p>
                    </div>

                    <div class="external-icons">
                        <a><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- <section class="experience-section">
            <h2>Experience</h2>
        </section> -->

<!--Contact section-->
<section class="contact-section">
    <div class="main-container">
        <h2 class="section-heading">Contact</h2>

        <div class="contact-container">
            <!--TODO: Add custom thank you page-->
            <form name="contact" class="contact-form" method="POST" data-netlify="true" netlify-honeypot="bot-field"
                netlify>

                <p style="visibility: hidden;">
                    <label>Don’t fill this out if you’re human: <input name="bot-field" /></label>
                </p>

                <label class="form-label" for="name">Name</label>
                <input class="form-field" type="text" id="name" name="name" placeholder="Your name.." />

                <label class="form-label" for="email">Email</label>
                <input class="form-field" type="email" id="email" name="email" placeholder="Your email.." />

                <label class="form-label" for="message">Message</label>
                <textarea class="form-field" id="message" name="message" placeholder="Write something.."
                    style="height:200px; max-height: ;"></textarea>

                <div data-netlify-recaptcha></div>
                <button class="submit-button" type="submit">Send</button>

                <!-- <div class="form-field">
                    <label for="name" class="form-label">Message</label>
                    <textarea class="form-input" rows="3" cols="24" placeholder="Message" id="message"></textarea>
                </div> -->

            </form>
        </div>

    </div>

</section>