{{ define "main" }}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <!--TODO change later-->
    <title>pawson.dev</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/926dde6f9c.js" crossorigin="anonymous"></script>
</head>

<body>
    <header id="header">

        <!--Nav bar items-->
        <nav id="navbar" class="nav">

            <div class="logo">
                <a href="#about">
                    <h3>pawson.dev</h3>
                </a>
            </div>

            <button class="hamburger" id="hamburger">
                <i class="fas fa-bars"></i>
            </button>

            <ul id="nav-links" class="nav-links">
                <li><a href="#about">About</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>


        </nav>
        
        <canvas id="bg-canvas"></canvas>

        <!--About section-->
        <section id="about" class="about-section particle-background">
            
            
            <div id="welcome-message">
                <h1>Hello there!</h1>
                <p>I'm Kent</p>
            </div>
            <div id="bio">
                <p>I love to learn new things</p>    
            </div>
            
            <!--Profile Image
            <img src="/images/profile-image.jpg" alt="" />
            -->
            
            <!--Social Media imgs-->
            
            
        </section>
    </header>
    
    <main id="main">
        <!--Skills section-->
        <section id="skills">
            <h2>Skills</h2>
            <div class="skill-container">
                <p>Java</p>
            </div>
        </section>

        <!--Projects section-->
        <section id="projects">
            <h2>Projects</h2>
        </section>

        <!--Blog section-->
        <section id="blog">
            <h2>Blog</h2>
        </section>

        <!--Contact section-->
        <section id="contact">
            <h2>Contact</h2>
            <form>
                <div class="field">
                    <input type="text" placeholder="Name">
                </div>
                <div class="field">
                    <input type="email" placeholder="Email">
                </div>
                <div class="field">
                    <textarea rows="3" cols="24" placeholder="Message"></textarea>
                </div>

                <button id="submit-btn" type="submit">Submit</button>
            </form>
        </section>
    </main>

    <footer id="footer">
        <!--Copyright section-->
        <section id="copyright" class="particle-background">
            <p>Copyright (c) 2021 Kent Pawson</p>
        </section>
    </footer>
    
    <script src="/js/menu.js"></script>
    <script src="/js/subtle-background.js"></script>
</body>

</html>


{{end}}